---
import NavOptions from "../../components/NavOptions.astro";
import Layout from "../../layout/Layout.astro";

type ReadType = "article" | "book" | "video" | "tech" | "non-tech" | "other";
type Month =
  | "January"
  | "February"
  | "March"
  | "April"
  | "May"
  | "June"
  | "July"
  | "August"
  | "September"
  | "October"
  | "November"
  | "December";

type Reads = {
  year: number;
  items: [
    {
      month: Month;
      entries: {
        title: string;
        url: string;
        type: ReadType[];
      }[];
    },
  ];
};

const reads: Reads[] = [
  {
    year: 2025,
    items: [
      {
        month: "January",
        entries: [
          {
            title: "The Burnout Society",
            url: "https://www.amazon.com/Burnout-Society-Byung-Chul-Han/dp/0804795096",
            type: ["book", "non-tech"],
          },
          {
            title:
              "Understanding ReplicaSet vs. StatefulSet vs. DaemonSet vs. Deployments",
            url: "https://abhisman.notion.site/Understanding-ReplicaSet-vs-StatefulSet-vs-DaemonSet-vs-Deployments-a521f9a46ea446219d98be4972f2e16e",
            type: ["article", "tech"],
          },
          {
            title: "Why You Shouldn’t Build Your Next App in Rust",
            url: "https://youtu.be/spXMLbHVEkQ?si=szhit2Ak7oPSWqZc",
            type: ["video", "tech"],
          },
          {
            title:
              "What Are AWS Savings Plans? How They Can Lower Your AWS Bill",
            url: "https://www.cloudzero.com/blog/aws-savings-plans/",
            type: ["article", "tech"],
          },
          {
            title: "Formal Methods: Just Good Engineering Practice?",
            url: "https://brooker.co.za/blog/2024/04/17/formal",
            type: ["article", "tech"],
          },
          {
            title: "Millions of Accounts Vulnerable due to Google's OAuth Flaw",
            url: "https://trufflesecurity.com/blog/millions-at-risk-due-to-google-s-oauth-flaw",
            type: ["article", "tech"],
          },
          {
            title: "Thoughts On A Month With Devin",
            url: "https://www.answer.ai/posts/2025-01-08-devin.html",
            type: ["article", "tech"],
          },
          {
            title: "Adderall Risks: Much More Than You Wanted To Know",
            url: "https://slatestarcodex.com/2017/12/28/adderall-risks-much-more-than-you-wanted-to-know/",
            type: ["article", "non-tech"],
          },
          {
            title: "How I think about Zig and Rust",
            url: "https://lewiscampbell.tech/blog/250117.html",
            type: ["article", "tech"],
          },
        ],
      },
    ],
  },
];
---

<Layout>
  <NavOptions />
  <h1>reads.</h1>
  <p class="description">
    A list of books, articles and videos I've read or watched.
  </p>

  <section class="reads-container">
    {
      reads.map((yearGroup) => (
        <div class="year-section">
          <h1>{yearGroup.year}.</h1>
          {yearGroup.items.map((monthGroup) => (
            <div class="month-section">
              <h3>{monthGroup.month}</h3>
              <ul>
                {monthGroup.entries.map((item) => (
                  <li>
                    <a
                      href={item.url}
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      {item.title}
                    </a>
                    <span class="type">{item.type.join(", ")}</span>
                  </li>
                ))}
              </ul>
            </div>
          ))}
        </div>
      ))
    }
  </section>
</Layout>

<style>
  .reads-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .year-section {
    margin-bottom: 1.5rem;
  }

  ul {
    list-style-type: circle;
    padding: 0;
  }

  li {
    margin-bottom: 0.75rem;
  }

  .type {
    font-size: 1rem;
    color: #666;
    margin-left: 0.5rem;
  }

  a:hover {
    text-decoration: underline;
  }

  h1 {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .description {
    font-size: 1.1rem;
  }
</style>
