---
import Link from "./Link.astro";
import ThemeToggle from "./ThemeToggle.astro";

const navLinks = [
  {
    title: "Github",
    href: "https://github.com/vitorsouzaalmeida/",
    isExternal: true,
  },
  {
    title: "LinkedIn",
    href: "https://www.linkedin.com/in/vitorsalmeida/",
    isExternal: true,
  },
  {
    title: "Blog",
    href: "/blog",
    isExternal: false,
  },
  {
    title: "Pics",
    href: "/pics",
    isExternal: false,
  },
  {
    title: "Tags",
    href: "/tags",
    isExternal: false,
  },
  {
    title: "RSS",
    href: "/rss.xml",
    isExternal: true,
  },
];
---

<footer>
  <div class="footer-left">
    <p class="year">{new Date().getUTCFullYear()}</p>
    <ThemeToggle />
  </div>
  <nav>
    <ul>
      {
        navLinks.map((link) => (
          <li class={link.title === 'Tags' || link.title === 'RSS' ? 'mobile-hidden' : ''}>
            <p>
              <Link href={link.href} isExternal={link.isExternal}>
                {link.title}
              </Link>
            </p>
          </li>
        ))
      }
    </ul>
  </nav>
</footer>

<style>
  footer {
    border-top: 1px solid var(--footer-border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: var(--spacing-4x);
    padding-top: var(--spacing);
  }

  .footer-left {
    display: flex;
    align-items: center;
    gap: var(--spacing-2x);
  }

  footer nav ul {
    display: flex;
    gap: var(--spacing-2x);
  }

  li {
    list-style: none;
  }

  @media (max-width: 768px) {
    .year,
    .mobile-hidden {
      display: none;
    }
  }
</style>
